body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(193, 165, 220);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.image {
  width: 100%;
  height: auto;
  
}

.product {
  margin: 20px; 
}
.productCategory{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  height: 100vh;
  margin: 5rem;
 
}
.category img{
  max-width: 30%;
  max-height: 50%; 
  bottom: 0;
  left: 0;
  right: 0;
}
.all__products{
    height:auto;
    display: grid;
    grid-row: 1/3;
    grid-template-columns: repeat(4,1fr);

}
.products{
  margin-top: 5px;
  display: flex;
}

.product img{
  max-width: 30%;
  max-height: 50%; 
}
h1{
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  margin: 50px auto;
}

.cart {
  margin-top: 20px;
}